<ion-view title="Selected">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-title style="width:100%; text-align: center;">
    <table width="97%" style="font-size: 2em;">
      <tr>
        <td align="left">
          <table width="100%;">
            <tr>
              <td width="15%">
                <i ng-click="back()" class="ion-ios-arrow-back" ></i>
              </td>
              <td width="85%">
                {{user.last_name | uppercase}}
              </td>
            </tr>
          </table>
        </td>
        <td align="right">
          <img ng-click="goHome()" src="../img/icon_home.png" style="width: 30px;height: auto;" />
        </td>
      </tr>
    </table>
  </ion-nav-title>
  <ion-content >
    <div>
      <br class="LineBreak" />
      <br class="LineBreak" />

      <div style="width: 100%;">
        <span class="header">DATE & TIME</span>
        <hr style="width: 100%; size: 2px;" />
      </div>
      <br class="LineBreak" />
      <br class="LineBreak" />

      <div class="list">
        <span class="subheader">SELECT DATE</span>
        <div class="row">
          <div class="col col-20" style="height: 100%;">
            <img ng-click="openDatePicker()" style="vertical-align: middle;display: inline-block; width:35px;" src="../img/calendar.png" />
          </div>
          <div class="col col-80">
            <span style="font-weight: bolder; font-size: 28px">
              {{date.day_of_week}}<br />
              {{date.month}} {{date.day}}, {{date.year}}
            </span>
          </div>
        </div>
        <br class="LineBreak" />
        <br class="LineBreak" />

        <span class="subheader">AVAILABLE APPOINTMENTS</span>
        <div class="row">
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">9:00 AM</button>
          </div>
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">9:30 AM</button>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">10:00 AM</button>
          </div>
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">10:30 AM</button>
          </div>
        </div>

        <div class="row">
          <div class="col col-50">
            <a href="#/intro_appointmentConfirmed" class="button button-outline button-calm" style="width: 100%;">11:00 AM</a>
          </div>
          <div class="col col-50">
            <a href="#/intro_appointmentConfirmed" class="button button-outline button-calm" style="width: 100%;">11:30 AM</a>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <a href="#/intro_appointmentConfirmed" class="button button-outline button-calm" style="width: 100%;">12:00 PM</a>
          </div>
          <div class="col col-50">
            <a href="#/intro_appointmentConfirmed" class="button button-outline button-calm" style="width: 100%;">12:30 PM</a>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">1:00 PM</button>
          </div>
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">1:30 PM</button>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <button disabled="true" class="button button-outline button-dark" style="width: 100%; opacity: 1;">2:00 PM</button>
          </div>
          <div class="col col-50">
            <a href="#/intro_appointmentConfirmed" class="button button-outline button-calm" style="width: 100%;">2:30 PM</a>
          </div>
        </div>

        <div class="row">

        </div>
        <div class="row">
          <div class="col col-50">
            <a href="#/intro_appointmentConfirmed" class="button button-outline button-calm" style="width: 100%;">3:00 PM</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
