<ion-view title="Cash Deposit">
  <ion-nav-bar class="bar-balanced"></ion-nav-bar>
  <ion-nav-title style="width:100%; text-align: center;">
    <table width="97%" style="font-size: 2em;">
      <tr>
        <td align="left">
          <table width="100%;">
            <tr>
              <td width="15%">
                <img src="../img/icon_home.png" style="width: 30px;height: auto;" />
              </td>
              <td width="85%">
                {{user.last_name | uppercase}}
              </td>
            </tr>
          </table>
        </td>
        <td align="right"><i class="icon ion-android-more-vertical"></i></td>
      </tr>
    </table>
  </ion-nav-title>
  <ion-content>
    <div style="width:100%; text-align: left; margin-top:10px;">
      <span style="font-size: xx-large;">
      CASH DEPOSIT
      </span>
      <hr /><br /><br />

      <table style="text-align: left; width: 100%; color: lightgray;">
        <tr>
          <td width="5%">&nbsp;</td>
          <td width="90%">TO ACCOUNT</td>
          <td width="5%">&nbsp;</td>
        </tr>
      </table>

      <div class="row">
        <div class="col col-50" ng-repeat="account in myAccounts">
          <button ng-class="{ 'button-outline': !account.is_selected }" class="button button-energized" ng-click="AccountSelected(account)" style="line-height:100%; width: 100%;" >
            CHECKING {{account.account_number}}
          </button>
        </div>
      </div>
    </div><br /><br />

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-blur="reformat()" only-num placeholder="Enter Amount Here"
          ng-model="enteredAmount" style="font-size: 2em; color: green; background: transparent; border: none;
          background: transparent; border-width: 0px; border-style: hidden; width: 100%;">
      </label>
      <hr style="color: gray; width: 100%;" />
    </div>


    <div class="row">
      <div class="col col-50">
        <button class="button button-stable button-outline" ng-click="GoToEmail()" style="line-height:100%; width: 100%;" >
          EMAIL
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-stable button-outline" ng-click="GoToEmail()" style="line-height:100%; width: 100%;" >
          PRINT
        </button>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-stable" style="height: 50px;">
    <button ng-show="canShowSubmit" class="button button-full button-stable" style="font-size: 2em; color: white; margin-top: 3px" ng-click="Submit()">Submit</button>
  </ion-footer-bar>
</ion-view>
