<ion-view title="Checked In">
  <ion-nav-bar class="bar-balanced"></ion-nav-bar>
  <ion-nav-title style="width:100%; text-align: center;">
    <table width="97%" style="font-size: 1.5em;">
      <tr>
        <td align="left">
          <table width="100%;">
            <tr>
              <td width="15%">
                <i ng-click="back()" class="ion-ios-arrow-back" ></i>
              </td>
              <td width="85%">
                {{user.last_name | uppercase}}
              </td>
            </tr>
          </table>
        </td>
        <td align="right">
          <img ng-click="goHome()" src="../img/icon_home.png" style="width: 25px;height: auto;" />
        </td>
      </tr>
    </table>
  </ion-nav-title>
  <ion-content ng-click="nextPage()">
    <div style="width:100%; text-align: center;">
      <div style="background-color: #F1F1F1; height: 450px;">
        <br /><br />
        <br /><img src="../img/OkCheck.png" style="width: 200px;"/><br /><br /><br />
        <div style="font-size: 2.5em; font-weight: bold; color: green;">
          Thanks for submitting<br style="line-height: 1.2em;" />
          your cash deposit<br style="line-height: 1.2em;" />
          information!
        </div><br />
      </div><br />

      <span style="font-size: 2em; position: relative; top: 20px;">
        You'll be alerted when a <br style="line-height: 1.2em;" />
        Teller is next available.
      </span>
    </div>
  </ion-content>
</ion-view>
